# node_modules
node_modules/

# Production
dist/

# Env
.env
.env.local

# Firebase サービスアカウントキー（絶対にGitにコミットしないこと！）
serviceAccountKey.json
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
